# Fichiers système
.DS_Store
.dockerignore
.git
.gitignore
.idea
.env
.env.example
.phpunit.result.cache

# Dépendances
/vendor
/node_modules
/composer.lock
/package-lock.json
/yarn.lock

# Logs et cache (mais on garde les dossiers vides)
storage/*.key
storage/logs/*
bootstrap/cache/*

# Tests
/tests
/phpunit.xml

# Autres
/public/storage
/public/hot
